@model IOSystem.Models.IRegister;
@{
    ViewBag.Title = "Inward Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- daterange picker -->
    <link rel="stylesheet" href="~/themeLTE/plugins/daterangepicker/daterangepicker.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/themeLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/themeLTE/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/themeLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/themeLTE/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/themeLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/themeLTE/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/themeLTE/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/themeLTE/plugins/dropzone/min/dropzone.min.css">
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="wrapper">

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="card card-info">
                        <form method="POST" asp-controller="IRegister" asp-action="Create" class="form-horizontal">
                            @Html.AntiForgeryToken()
                            <div class="card-header">
                                <div class="form-group row">
                                    <div class="col-sm-4">
                                        <h2 class="card-title">Inward Register</h2>
                                    </div>
                                    <div class="col-sm-4">
                                        <select asp-for="RegisterID" name="RegisterID" class="form-control" asp-items="@(new SelectList(ViewBag.RegisterList,"RegisterID","RegisterName"))">
                                            @*<option value="">---Select Register---</option>*@
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select asp-for="FYID" name="FYID" class="form-control" asp-items="@(new SelectList(ViewBag.FYMasterList,"FYID","FyName"))">
                                            @*<option value="">---Select Financial Year---</option>*@
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->

                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="inputIRCode" class="col-sm-3 col-form-label">आवक नं. :</label>
                                            <div class="col-sm-9">
                                                <input type="number" asp-for="IRNo" min="0" name="IRNo" class="form-control" placeholder="IR Code" readonly="readonly" value="@ViewBag.IRMaxNo">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputIRDate" class="col-sm-3 col-form-label">आवक दिनांक :</label>
                                            <div class="col-sm-9">
                                                @*<input type="date" asp-for="IRDate" name="IRDate" class="form-control">*@
                                                <input asp-for="IRDate" id="IRDate" type="text" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label for="inputLtrCode" class="col-sm-3 col-form-label">पत्राचा क्रमांक :</label>
                                            <div class="col-sm-9">
                                                <input type="number" asp-for="LetterNo" name="LetterNo" class="form-control" placeholder="Letter No">
                                                <span asp-validation-for="LetterNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputLtrDate" class="col-sm-3 col-form-label">पत्र दिनांक :</label>
                                            <div class="col-sm-9">
                                                <input type="date" asp-for="LetterDate" name="LetterDate" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="inputRcvFrm" class="col-sm-3 col-form-label">कोणाकडून प्राप्त झाले :</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="SchoolName" name="SchoolName" class="form-control" placeholder="Received From" required>
                                                @*<span asp-validation-for="SchoolName" class="text-danger"></span>*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="inputSubject" class="col-sm-3 col-form-label">विषय / प्रकरण :</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="SubjectName" name="SubjectName" class="form-control" placeholder="Subject" required>
                                                @*<span asp-validation-for="SubjectName" class="text-danger"></span>*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="inputGiveTo" class="col-sm-3 col-form-label">कोणास दिले :</label>
                                            <div class="col-sm-9">
                                                <select asp-for="ESDID" name="ESDID" class="form-control" asp-items="@(new SelectList(ViewBag.EmpSectionNameList,"ESDID","EmpSectionName"))" required>
                                                    <option value="">---Select---</option>
                                                </select>
                                                @*<span asp-validation-for="ESDID" class="text-danger"></span>*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label for="inputLetterCategory" class="col-sm-3 col-form-label">पत्र प्रकार :</label>
                                            <div class="col-sm-9">
                                                <select asp-for="LetterCategoryID" name="LetterCategoryID" class="form-control" asp-items="@(new SelectList(ViewBag.LetterCategoryList,"LetterCategoryID","LetterCategoryName"))" required>
                                                    <option value="">---Select---</option>
                                                </select>
                                                @*<span asp-validation-for="LetterCategoryID" class="text-danger"></span>*@
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputDuration" class="col-sm-3 col-form-label">कालावधी :</label>
                                            <div class="col-sm-9">
                                                <input type="number" min="0" asp-for="Duration" name="Duration" class="form-control" placeholder="Duration" value="0">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="inputMobNo" class="col-sm-3 col-form-label">मोबाईल नं. :</label>
                                            <div class="col-sm-9">
                                                <input type="number" asp-for="MobileNo" name="MobileNo" class="form-control" placeholder="Mobile No">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail" class="col-sm-3 col-form-label">ई-मेल :</label>
                                            <div class="col-sm-9">
                                                <input type="email" asp-for="EmailID" name="EmailID" class="form-control" placeholder="Email ID">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="inputRemark" class="col-sm-3 col-form-label">शेरा :</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="Remark" name="Remark" class="form-control" placeholder="Remark">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer row justify-content-center align-items-center">
                                <button type="submit" class="btn btn-primary" style='margin-right:16px'>Submit</button>
                                <a href="/IRegister/Index" class="btn btn-danger" style='margin-right:16px'>Cancel</a>
                            </div>
                            <!-- /.card-footer -->
                        </form>
                    </div>
                </div>

                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/themeLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/themeLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="~/themeLTE/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/themeLTE/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/themeLTE/plugins/moment/moment.min.js"></script>
    <script src="~/themeLTE/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/themeLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/themeLTE/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/themeLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/themeLTE/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/themeLTE/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/themeLTE/plugins/dropzone/min/dropzone.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/themeLTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/themeLTE/dist/js/demo.js"></script>
    <!-- Page specific script -->


</body>
</html>


<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#RegisterID").change(function () {
                $.ajax({
            type:'GET',
            url: '@Url.Action("IRegister", "GetMaxNo")',
            async:true,
            success:function(response){
                alert(response);
                $("#inputIRCode").val(response);
            }
                });
        });
    }
</script>


<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#RegisterID').change(function ()
        {
            var url = '@Url.Content("~/")' + "api/StateAPI";
            var ddlsource = "#RegisterID";
                $.post(url, { id: $(ddlsource).val() }, function (data)
                {
                    var items = '';
                    $("#State").empty();
                    $.each(data, function (i, subcategory)
                    {
                        items += "<option value='" + subcategory.StateID + "'>" + subcategory.StateName + "</option>";
                    });
                    $('#State').html(items);

                });
          });

    });


    function CheckMaxNoJSON()
    {
        var url = '@Url.Content("~/")' + "OrgRegister/ChecknameExists";
        var source = "#RegisterName";
        $.post(url, { Name: $(source).val() }, function (data)
        {
            if (data)
            {
                $(source).val('');
                alert("Register Already Used Try Unique One!");
            }
            else
            {

            }
        });
    }

</script>